<header class="p-3 text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a routerLink="/" class="nav-link px-2 text-white">Login</a></li>
        <li><a routerLink="home" class="nav-link px-2 text-white">Home</a></li>
        <li><a routerLink="clientes" class="nav-link px-2 text-white">Clientes</a></li>
        <li><a routerLink="fornecedores" class="nav-link px-2 text-white">Fornecedores</a></li>
        <li><a routerLink="produtos" class="nav-link px-2 text-white">Produtos</a></li>
        <li><a routerLink="estoque" class="nav-link px-2 text-white">Estoque</a></li>
        <li><a routerLink="servicos" class="nav-link px-2 text-white">Serviços</a></li>
        <li><a routerLink="os" class="nav-link px-2 text-white">OS</a></li>
        <li><a routerLink="vendas" class="nav-link px-2 text-white">Vendas</a></li>
        <li><a routerLink="financeiro" class="nav-link px-2 text-white">Financeiro</a></li>
        <li><a routerLink="kb" class="nav-link px-2 text-white">KB</a></li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Pesquisar..."
          aria-label="Search">
      </form>

      <div class="text-end">
        <button type="button" class="btn btn-outline-light me-2">Entrar</button>
        <button type="button" class="btn btn-warning">Cadastre-se</button>
      </div>
    </div>
  </div>
</header>